<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>604800</key>
	<dict>
		<key>0</key>
		<string>weeks</string>
		<key>1</key>
		<string>week</string>
	</dict>
	<key>86400</key>
	<dict>
		<key>0</key>
		<string>days</string>
		<key>1</key>
		<string>day</string>
	</dict>
	<key>3600</key>
	<dict>
		<key>0</key>
		<string>hours</string>
		<key>1</key>
		<string>hour</string>
	</dict>
	<key>60</key>
	<dict>
		<key>0</key>
		<string>minutes</string>
		<key>1</key>
		<string>minute</string>
	</dict>
	<key>1</key>
	<dict>
		<key>0</key>
		<string>seconds</string>
		<key>1</key>
		<string>second</string>
	</dict>
</dict>
</plist>
